@font-face {
    font-family: Roboto-Light;
    src: url('fonts/Roboto-Light.ttf'); format('truetype');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Roboto-Medium;
    src: url('fonts/Roboto-Medium.ttf'); format('truetype');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('fonts/Roboto-Bold.ttf'); format('truetype');
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: rgb(241, 241, 235);
}
nav{
    font-family: Roboto-Medium;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 999;
}
nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav .logo a{
    text-decoration: none;
    color: #ffffff;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    color: #111;
    background: #fff;
}

nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"]{
    display: none;
}

@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 1250px) {
    nav .menu-btn i{
        display: block;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul{
        left: 0;
    }

    nav ul li{
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a{
        width: 100%;
        margin-left: -100%;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked ~ ul li a{
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover{
        color: #111;
        background: #fff;
    }
}


.buy-informations .underinfo {
    text-align: right;
}

.cena {
   font-family: Roboto-Medium;
    display: inline-block;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    background-image: linear-gradient(160deg, #83bfea, #345c78);
}

button {
    font-family: Roboto-Medium;

    font-size: 18px;
    color: #c1121f;
    background-color: white;
    border: none;
    border-radius: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content_con{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    cursor: pointer;
   position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay{
    display:block;
}

.popup.active .content_con {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

.fix {
    background-image: linear-gradient(160deg, #83bfea, #345c78);
}
/*----------------*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 30px 30px 30px;

}

.content_text {
    background-image: url('../images/Cats_Ragdoll_535532_1920x1080.jpeg');
    background-position: center center;

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0007; background-blend-mode: darken;
    text-align: center;
    color: white;
    font-size: 24px;

    /* Pro fotku, přes celý screen
    padding: 350px 260px */
    padding: 185px 10px;
    text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
}

.letter-spacing {
    font-family: Roboto-Regular;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content_text h1 {
    font-size: 45px;
    text-align: center;
}

.content_text h2 {
    margin-top: 30px;
    text-align: center;
}

.main {
    max-width: 1000px;
    margin: auto;
}

.NK-picture{
    width: 550px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
}
.row {

    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */
.content {
    display:flex;
    background-color: white;
    margin: 20px;
    border-radius: 30px 30px 30px 30px;
}

.buy-informations {
    padding: 40px;
    text-shadow: rgb(0 0 0 / 10%) 0px 4px 5px;
}

.name {
    font-size: 30px;
    padding: 10px 0px 0px;
}

.date {
    font-size: 20px;
    padding-bottom: 5px;
}

.anotherinfo{
    padding: 15px 0px;
    font-family: Roboto-Medium;
    font-size: 20px;
}


/* tags */

.tags {
    display: inline;
}

#tag {
    font-family: Roboto-Medium;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 10px;
}

#tag.male {
    background-color: #1C9BDD;
}

#tag.female {
    background-color: #FF6347;
}

#tag.B {
    background-color: #FFBD67;
}

#tag.F {
    background-color: #FFD4D4;
}

.con {
    font-family: Roboto-Medium;
    font-size: 15px;
    padding: 80px 20px 0px 0px;
    text-align: right;
    color: #c1121f;
}

.content_con {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 24px;

    /* Pro fotku, přes celý screen
    padding: 350px 260px */
    text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
}

container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 140px 30px 0px 30px;
    margin: 0px 30px 30px 30px;

}

.card{
    padding-top: 30px;
}

.contactus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px 80px 20px 40px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input, form textarea{
    font-family: Roboto-Light;
    border: none;
    margin: 10px 0;
    padding: 20px 120px 20px 10px;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-bottom-color: #60B2C3;

    padding-bottom: 5px;
    font-size: 16px;
}

form button{

    padding: 15px;
    background-color: red;
    color: #F0F0F0;
    font-size: 18px;
    border: 0;
    outline: none;
    curcor: pointer;
    width: 150px;
    margin: 20px auto 0;
}


.content_text {
    text-align: center;
    color: #F0F0F0;
}

.contentstyle h1 {
    font-size: 45px;
    text-align: left;
}

.contentstyle h2 {
    margin-top: 10px;
    text-align: left;
}

.letter-spacing {
    font-family: Roboto-Regular;
    letter-spacing: 3px;
}

.contactcard {
    text-align: left;
    margin: 35px 0px;
    padding: 30px;
    background: #000000;
    border-radius: 10px;
}

.contentcard {
    font-size: 10px;
}

.stylecardcontac{
    color: #00C2D4;
}




.column:hover {
    animation: bounce 2.5s infinite; //other browsers
-webkit-animation: bounce 2.5s infinite; //webkit browsers
-moz-animation: bounce 2.5s infinite; //firefox
-o-animation: bounce 2.5s infinite; //opera
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1300px) {

    .NK-picture {
        object-fit: cover;
        max-width: 100%;
        border-radius: 30px 30px 0px 0px;
    }

    .row {
        margin: 8px -16px;
    }

    /* Add padding BETWEEN each column */
    .row,
    .row > .column {
        padding: 8px;
    }

    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after rows */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Content */
    .content {
        display: block;
        background-color: white;
        margin: 20px;
        border-radius: 30px 30px 30px 30px;
    }


    .button {
        padding: 5px 15px 0 0;
    }

    .name {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .date {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .anotherinfo {
        font-size: 15px;
    }

    #gender {
        font-size: 10px;
    }

    .buy-informations {
        padding: 10px 30px 20px 30px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 670px) {
    .column {
        width: 100%;
    }
}

@media screen and (min-width: 1300px) {
    .buy-informations .underinfo {
        padding: 120px 15px 0px 0px;
    }
}



/* first footer */
footer .footer-image {
    background-image: url('../images/regdoll-koshka-krasavitsa-golubye-glaza-korzina.jpeg');
    background-position: center 35%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0009; background-blend-mode: darken;
    text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
    padding: 30px 10px;
}

footer .footer-content{
    padding: 100px 60px 100px 60px;

    display: flex;
    flex-wrap: wrap;
}

footer .subtitle {
    font-family: Roboto-Medium;
    color: #F0F0F0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
}
footer .right {
    padding: 40px 60px 0px 60px;
    color: #F0F0F0;
    text-decoration: none;
}

footer .telephone{
    font-family: Roboto-Bold;
    padding-top: 5px;
}
footer .interest {
    margin: 10px;
}

footer .adress {
    font-family: Roboto-Light;
    color: #F0F0F0;
    text-decoration: none;
    font-size: 20px;
    padding-top: 10px;
}

footer .recommend {
    padding: 30px 60px 20px 60px;
}

footer .title {
    font-family: Roboto-Bold;
    text-decoration: none;
    color: #F0F0F0;
    text-align: center;
    font-size: 25px;
}
footer .links {
    font-family: Roboto-Light;
    padding-top: 10px;
}

footer .pages-link {
    font-family: Roboto-Light;
    font-size: 20px;
    text-decoration: none;
    color: #F0F0F0;
}




/* second footer */
.footer .bottom-footer{
    color: #F0F0F0;
    padding: 30px 60px 60px 60px;
}

.content-information {
    padding: 30px 130px 60px 130px;
    background-color: 	#001618;
    color: #F0F0F0;
    display: flex;
    flex-wrap: wrap;
}

footer .page {
    font-family: Roboto-Regular;
    margin-top: 25px;
}

footer .contacts{
    font-family: Roboto-Bold;
    text-align: center;
}

.contacts .contacts-socials .facebook{
    filter: brightness(0) invert(1);
    max-width: 30px;
}
.contacts .contacts-socials .instagram{
    filter: brightness(0) invert(1);
    max-width: 30px;
}


#data\.items {
    margin-top: 5px;
}
@media screen and (max-width: 1300px) {

.footer-content{
    justify-content: space-between;
    }

.content-information {
    justify-content: space-between;
    }
}

@media screen and (max-width: 670px) {

    .content-information {
        justify-content: center;
    }

    .page {
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 1300px) {
    .buy-informations .underinfo {
        padding: 120px 15px 0px 0px;
    }

    .footer-content{
        justify-content: space-between;
    }

    .content-information {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1050px){
    .footer-content {
        justify-content: center;
    }

    footer .right {
        text-align: center;
    }

    footer .recommend  {
        text-align: center;
    }
}
